html {
	background-image: url(https://images.unsplash.com/photo-1444837881208-4d46d5c1f127?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=54f6de266e0421a67bc75740a6b039d7);
	background-size: cover;
	top: 0px;
	left: 0px;
	width: 100%;
	min-height: 100%;
	min-width: 1024px;
	height: auto;
}

/*static menu left side*/
.menu {
	height: 700px;
	width: 285px;
	background-color: #202024;
	border-right: white 2px solid;
	position: absolute;
	margin-left: 0px;
	margin-top: -35px;
	opacity: 0.0;
}

.menu:hover {
	height: 700px;
	width: 285px;
	background-color: #202024;
	border-right: white 2px solid;
	position: absolute;
	margin-left: 0px;
	margin-top: -35px;
	/*left: 0px;*/
	opacity: 1.0;
}

.first {
	width: 75px;
	margin-left: 0px;
	opacity: 0.7;
	/*float: left;*/
	position: fixed;
	margin-top: -15px;
}

.home {
	width: 230px;
	text-decoration: none;
	font-size: 25px;
	font-family: courier;
	text-align: center;
	color: white;
	padding: 25px;
	border-bottom: white 2px solid;
}

.about {
	width: 230px;
	text-decoration: none;
	font-size: 25px;
	font-family: courier;
	text-align: center;
	color: white;
	padding: 25px;
	border-bottom: white 2px solid;
}

.contact {
	width: 230px;
	text-decoration: none;
	font-size: 25px;
	font-family: courier;
	text-align: center;
	color: white;
	padding: 25px;
	border-bottom: white 2px solid;
}

.resources {
	width: 230px;
	text-decoration: none;
	font-size: 25px;
	font-family: courier;
	text-align: center;
	color: white;
	padding: 25px;
	border-bottom: white 2px solid;
}

.content {
	width: 900px;
	margin: auto;
	margin-top: 10%;
	display: inline;
}

.circle {
	background-color: white;
	/*border: 2px solid #202024;*/
	text-align: center;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	margin: auto;
	font-family: courier;
	font-size: 40px;
	/*vertical-align: center;*/
	line-height: 150px;
	margin-top: auto;
}

.text {
	background-color: rgba(215, 215, 215, 0.0);
	width: 900px;
	height: 450px;
	position: relative;
	margin: 150px auto;
	text-align: center;
	vertical-align: center;
	border-radius: 25px;
	/*opacity: 0.2;*/
}

.heading {
	text-decoration: none;
	margin-top: 15px;
	position: relative;
	opacity: 1.0;
	padding: 10px;
}

.social {
	float: right;
	width: 140px;
	margin-top: -35px;	
}

.facebook {
	width: 50px;
	float: left;
	padding: 0px 10px;
}

.facebook:hover {
	background-color: #0E0E0E;
}

.twitter {
	width: 50px;
	float: left;
	padding: 0px 10px;
}

.twitter:hover {
	background-color: #0E0E0E;
}

h1 {
	color: #F8F8FF;
	font-family: courier;
	text-indent: 0px;
}

.paragraph {
	color: #F8F8FF;
	font-family: courier;
	line-height: 25px;
}