html {
	background-image: url(https://images.unsplash.com/photo-1444837881208-4d46d5c1f127?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=54f6de266e0421a67bc75740a6b039d7);
	background-size: cover;
	top: 0px;
	left: 0px;
	width: 100%;
	min-height: 100%;
	min-width: 1024px;
	height: auto;
}

/*static menu left side*/
.menu {
	height: 100%;
	width: 285px;
	background-color: black;
	border-right: white 2px solid;
	position: fixed;
	margin-left: 0px;
	margin-top: 0px;
}

/*menu icon clickable*/
.menuicon {
	width: 100px;
	height: 100px;
	float: left;
	position: fixed;
}

.first{
	width: 75px;
	margin-left: 300px;
}