html {
	background-image: url(https://images.unsplash.com/photo-1444837881208-4d46d5c1f127?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=54f6de266e0421a67bc75740a6b039d7);
	background-size: cover;
	top: 0px;
	left: 0px;
	width: 100%;
	min-height: 100%;
	min-width: 1024px;
	height: auto;
}

/*static menu left side*/
.menu {
	height: 100%;
	width: 285px;
	background-color: #202024;
	border-right: white 2px solid;
	position: fixed;
	margin-left: 0px;
	margin-top: 0px;
	opacity: 0.0;
}

.menu:hover {
	height: 100%;
	width: 285px;
	background-color: #202024;
	border-right: white 2px solid;
	position: absolute;
	margin-left: 0px;
	margin-top: 0px;
	left: 0px;
	opacity: 1.0;
}

.first {
	width: 75px;
	margin-left: 0px;
	opacity: 1.0;
	float: left;
}

.about {
	width: 230px;
	text-decoration: none;
	font-size: 25px;
	font-family: arial;
	text-align: center;
	color: white;
	padding: 25px;
	border-bottom: white 2px dashed;
}

.contact {
	width: 230px;
	text-decoration: none;
	font-size: 25px;
	font-family: arial;
	text-align: center;
	color: white;
	padding: 25px;
	border-bottom: white 2px dashed;
}

.resources {
	width: 230px;
	text-decoration: none;
	font-size: 25px;
	font-family: arial;
	text-align: center;
	color: white;
	padding: 25px;
	border-bottom: white 2px dashed;
}